.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 
 
/* Styling pendukung */
.wrapper div {
    padding: 32px;
    border: 1px solid black;
}
 
 
/* coloring */
.box1, .box4 {
    background-color: mediumseagreen;
}
 
 
.box2, .box6 {
    background-color: steelblue;
}
 
 
.box3, .box5 {
    background-color: gold;
}